* {
    font-family: 'proxima_nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height:100%;
    background: #121314; /*rgb(45,45,48);*/
    color: #99FFCC;
    font-size: 14px;
    line-height: 1.5;
    min-width:650px;
    min-height:700px;
}

html {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 40px;
    margin:0 50px 30px 50px;
}

h2 {
    font-size:35px;
}

h3 {
    font-size:50px;
    font-weight:bold;
}

h4 {
    font-size: 25px;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
}

h5 {
    text-align: left;
    margin: 50px 0;
    border-bottom: 1px dotted;
}

p {
    margin: 20px auto;
    padding: 0 50px;
    max-width: 1000px;
}

button {
    background:
    linear-gradient(135deg, transparent 25px, #99FFCC 0) top left,
    linear-gradient(225deg, transparent 25px, #99FFCC 0) top right,
    linear-gradient(315deg, transparent 25px, #99FFCC 0) bottom right,
    linear-gradient(45deg,  transparent 25px, #99FFCC 0) bottom left;
    /*background-size:calc(16.156283vh + 1px) calc(3.801478353vh + 1px); 153 36*/
    background-size:calc(50% + 1px) calc(50% + 2px);
    background-repeat: no-repeat;
    /* margin:3.167898627vh auto;*/
    margin:4.601226994% auto;
    border:none;
    /*padding:15px 50px;*/
    font-size:35px;
    /*padding:1.583949314vh 5.279831045vh;*/
    padding:2.5% 8.33333333%;
    /* font-size:3.695881732vh;*/
    font-weight:bold;
    cursor:pointer;
    display:block;
    min-width:57.6%;
    max-width:265px;
}

button:hover {
    background:
    linear-gradient(135deg, transparent 25px, lightgreen 0) top left,
    linear-gradient(225deg, transparent 25px, lightgreen 0) top right,
    linear-gradient(315deg, transparent 25px, lightgreen 0) bottom right,
    linear-gradient(45deg,  transparent 25px, lightgreen 0) bottom left;
    /*background-size:calc(16.156283vh + 1px) calc(3.801478353vh + 1px);*/
    background-size:calc(50% + 1px) calc(50% + 2px);
    background-repeat: no-repeat;
}

button:focus {
    outline:none;
}

input[type=text] {
    background-color: #555;
    font-size: 24px;
    padding: 2px 5px;
    text-align: right;
    color: #99FFCC;
    border: none;
    -webkit-box-shadow: 0 0 0 1px rgba(153,255,204,1);
    -moz-box-shadow: 0 0 0 1px rgba(153,255,204,1);
    -ms-box-shadow: 0 0 0 1px rgba(153,255,204,1);
    box-shadow: 0 0 0 1px rgba(153,255,204,1);
    display:inline-block;
}

input[type=text]:focus {
    outline: none;
    -webkit-box-shadow: 0 0 7px 2px rgba(153,255,204,1);
    -moz-box-shadow: 0 0 7px 2px rgba(153,255,204,1);
    -ms-box-shadow: 0 0 7px 2px rgba(153,255,204,1);
    box-shadow: 0 0 7px 2px rgba(153,255,204,1);
}

input[type=button] {
    height:34px;
    width:33px;
    display:inline-block;
    top:8px;
    right: 3px;
    border:none;
    position:relative;
    background-image: url('../images/enter.png');
    background-size:32px 32px;
    background-color: #99FFCC;
    cursor:pointer;
}

input[type=button]:active {
    background-color: lightgreen;
}

input[type=button]:focus {
    outline:none;
}

a {
    text-decoration: none;
    color: #99FFCC;
}

a:hover {
    color: #99FFCC;
    text-decoration:underline;
}

table {
    table-layout: fixed;
    font-family: 'proxima_nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0 auto;
}

table thead th {
    vertical-align: bottom;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    position: relative;
    font-weight: 400;
    text-align: left;
    padding: 0 0 0 12px;
    color: #00FFFF;
}

table td {
    line-height: 40px;
    text-overflow: ellipsis;
    width: 0;
    /*vertical-align: top;*/
    position: relative;
    padding: 0 0 0 12px;
}

table tr:nth-child(odd) td {
    border-top: 1px solid #222326;
    height: 41px;
    overflow: hidden;
    white-space: nowrap;
}

td p {
    margin: 0;
    padding: 0 0 5px 0;
    display: none;
    line-height: 20px;
}

section {
    width: 400px;
    height: 612px;
    border: 3px solid #99FFCC;
    padding: 8px 16px;
    margin: 0 32px 64px 32px;
    box-shadow: 0 0 8px #99FFCC;
    display: inline-block;
    vertical-align: top;
}

section > h1 {
    font-size: 24px;
    margin: 0;
    border-bottom: 1px solid #99FFCC;
}

section > img {
    display: block;
    margin: 16px auto;
    height: 256px;
    max-width: 400px;
}

section > div {
    font-size: 16px;
    font-weight: bold;
    color: oldlace;
}

section > p {
    padding: 0;
    margin: 8px auto;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #99FFCC;
    float:left;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.icon-padding {
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position-x: 3px;
    background-position-y: 3px;
    padding: 3px;
}

.icon {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.main {
    height:100%;
}

.hidden {
    display: none;
}

.inlineLink {
    color: #00FFFF;
    text-decoration: underline;
}

.inlineLink:hover {
    color: #80FFFF;
    text-decoration: underline;
}