.welcome {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align:center;
    cursor:default;
}

.welcome h1 {
    font-size:100px;
    font-weight:bold;
    border:none;
}

.welcome h2 {
    font-size: 50px;
}

.bottom-panel {
    position: relative;
    top: 60%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align:center;
}

.bottom-panel a {
    margin: 0 5px;
}

.bottom-panel a img {
    width: 40px;
    height: 40px;
}