/* Remove margins and padding from the list, and add a black background color */
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    border-bottom: solid 2px rgba(153,255,204, 0.4);
}

/* Float the list items side by side */
ul.menu li {float: left;}

/* Style the links inside the list items */
ul.menu li a {
    display: inline-block;
    color: #99FFCC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.menu li a:hover {
    background-color: #555;
    cursor: pointer;
}

.selectedBar {
    border-bottom: 2px solid #99FFCC;
    position: relative;
    bottom: 2px;
}