.expandIcon {
    background-image: url('../images/expand.png');
    cursor: pointer;
}

.expandIcon:hover {
    background-image: url('../images/expandHover.png');
}

.collapseIcon {
    background-image: url('../images/collapse.png');
    cursor: pointer;
}

.collapseIcon:hover  {
    background-image: url('../images/collapseHover.png');
}

.gitIcon {
    background-image: url('../images/github.svg');
}

.gitIcon:hover {
    background-image: url('../images/githubHover.svg');
}

.projectDetails {
    padding: 0 15px;
}

.projectsTable .tableButton {
    width: 25px;
}

.projectsTable .tableButton:last-child {
    padding-right: 12px;
}

.projectsTable .tableDate {
    text-transform: uppercase;
    width: 70px;
}

.projectsTable .tableName {
    width: 15%;
}

.projectsTable .tableType {
    width: 15%
}

.projectsTable .tableDesc {
    width: 50%;
}