.tabs {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    font-weight: 300;
    font-size: 1.25em;
    max-width: 1100px;
    padding: 0 50px;
}

/* Nav */
.tabs nav {
    text-align: center;
}

.tabs nav ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1000px;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.tabs nav ul li {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.tabs nav a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5;
}

.tabs nav a:hover {
    text-decoration: none;
}

.tabs nav a span {
    vertical-align: middle;
    font-size: 25px;
}

.tabs nav li.tab-current a {
    color: #74777b;
}

.tabs nav a:focus {
    outline: none;
}

.content-wrap {
    position: relative;
}

.content-wrap section {
    display: none;
}

.content-wrap section.content-current {
    display: block;
}

.content-wrap section p {
    padding: 0;
}

/* Fallback */
.no-js .content-wrap section {
    display: block;
    padding-bottom: 2em;
    border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
    display: block;
}

.no-flexbox nav ul li {
    min-width: 15%;
    display: inline-block;
}

@media screen and (max-width: 58em) {
    .tabs nav a.icon span {
        display: none;
    }
    .tabs nav a:before {
        margin-right: 0;
    }
}

/*****************************/
/* Moving Line */
/*****************************/

.tabs-style-linemove nav li:last-child::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #99FFCC;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

/* Move the line */
.tabs-style-linemove nav li:first-child.tab-current ~ li:last-child::before {
    -webkit-transform: translate3d(-500%,0,0);
    transform: translate3d(-500%,0,0);
}

.tabs-style-linemove nav li:nth-child(2).tab-current ~ li:last-child::before {
    -webkit-transform: translate3d(-400%,0,0);
    transform: translate3d(-400%,0,0);
}

.tabs-style-linemove nav li:nth-child(3).tab-current ~ li:last-child::before {
    -webkit-transform: translate3d(-300%,0,0);
    transform: translate3d(-300%,0,0);
}

.tabs-style-linemove nav li:nth-child(4).tab-current ~ li:last-child::before {
    -webkit-transform: translate3d(-200%,0,0);
    transform: translate3d(-200%,0,0);
}

.tabs-style-linemove nav li:nth-child(5).tab-current ~ li:last-child::before {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}

.tabs-style-linemove nav a {
    padding: 1em 0;
    color: #999;
    line-height: 1;
    -webkit-transition: color 0.3s, -webkit-transform 0.3s;
    transition: color 0.3s, transform 0.3s;
}

.tabs-style-linemove nav a:hover {
    color: #DDD;
}

.tabs-style-linemove nav li.tab-current a {
    color: #99FFCC;
    -webkit-transform: translate3d(0,8px,0);
    transform: translate3d(0,8px,0);
}

.tabs-style-linemove nav a span {
    font-weight: 700;
}