.shades-screen {
    width:63.35vh;
    min-width:500px;
    height:calc(63.35% + 52px);
    min-height:552px;
    margin:0 auto;
    position: relative;
    top: calc(50% - 55px);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.shades-screen h2, .shades-screen h3 {
    text-align: center;
}

.shades-label {
    overflow:hidden;
}

.shades-label > div {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    font-size:35px;
    display:inline-block;
}

.shades-screen #blocks .gameSquare {
    float: left;
    border-radius: 10%;
    cursor: pointer;
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-align: center;
}