body {
  overflow:hidden;
  margin: 0;
  padding: 0;
  height:100%;
  background: rgb(45,45,48);
  color: #99FFCC;
  font: 16px;
  line-height: 1.5;
  min-width:1200px;
  min-height:700px;
}

html {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-align:center;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

h1 {
  font-size:70px;
  border-bottom:solid 5px;
  margin:0 50px;
}

h2 {
  font-size:35px;
}

h3 {
  font-size:50px;
  font-weight:bold;
}

button {
  background:
    linear-gradient(135deg, transparent 25px, #99FFCC 0) top left,
    linear-gradient(225deg, transparent 25px, #99FFCC 0) top right,
    linear-gradient(315deg, transparent 25px, #99FFCC 0) bottom right,
    linear-gradient(45deg,  transparent 25px, #99FFCC 0) bottom left;
  /*background-size:calc(16.156283vh + 1px) calc(3.801478353vh + 1px); 153 36*/
  background-size:calc(50% + 1px) calc(50% + 1px);
  background-repeat: no-repeat;
 /* margin:3.167898627vh auto;*/
  margin:4.601226994% auto;
  border:none;
  /*padding:15px 50px;*/
  font-size:35px;
  /*padding:1.583949314vh 5.279831045vh;*/
  padding:2.5% 8.33333333%;
 /* font-size:3.695881732vh;*/
  font-weight:bold;
  cursor:pointer;
  display:block;
  min-width:57.6%;
  max-width:265px;
}

button:hover {
  background:
    linear-gradient(135deg, transparent 25px, lightgreen 0) top left,
    linear-gradient(225deg, transparent 25px, lightgreen 0) top right,
    linear-gradient(315deg, transparent 25px, lightgreen 0) bottom right,
    linear-gradient(45deg,  transparent 25px, lightgreen 0) bottom left;
    /*background-size:calc(16.156283vh + 1px) calc(3.801478353vh + 1px);*/
    background-size:calc(50% + 1px) calc(50% + 1px);
    background-repeat: no-repeat; 
}

button:focus {
  outline:none;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #99FFCC;
  float:left;
}

.menu {
  position:absolute;
  float: left;
  margin:0;
  height:calc(100% - 50px);
  border: 5px solid #99FFCC;
  border-left:none;
  width:240px;
  border-bottom-right-radius: 500px 100px;
  border-top-right-radius: 500px 100px;
  box-shadow: 1px 0px 5px rgba(153,255,204,0.5);
  line-height: 50px; 
  padding:40px 0 0 0;
  min-height:650px;
}

.menu > li:hover, .menu > div:hover {
  background-color:#555;
  cursor:pointer;
}

.menu > li {
  display:block;
}

.menu > div {
  padding:5px 15px 5px 25px;
  line-height:normal;
}

.menu > li:first-child > a {
  border:none;
}

.menu > li > a {
  text-decoration: none;
  color: #99FFCC;
  font-size:22px;
  border-top:1px solid;
  display:block;
  margin:0 15px;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.menu > div > a {
  text-decoration:none;
  color: #99FFCC;
  font-size:18px;
  margin:0 15px 0 10px;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.welcome {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align:center;
  cursor:default;
}

.welcome h1 {
  font-size:100px;
  font-weight:bold;
  border:none;
}

.welcome h2 {
  font-size: 50px;
}

.main {
  margin-left:245px;
  height:100%;
}

.shades-screen {
  width:63.35vh;
  min-width:500px;
  height:calc(63.35% + 52px);
  min-height:552px;
  margin:0 auto;
  position: relative;
  top: calc(50% - 55px);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.shades-label {
  overflow:hidden;
}

.shades-label > div {
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  font-size:35px;
  display:inline-block;
}